@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    background-color: rgba(96, 91, 91, 0.3); 
    background-image: url(images/clear_wp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay; 
    height: 100vh;
    margin: 0;
}


.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    margin: 0;
    height: 100%;
}

.top-left {
    text-align: left;
}

.card {
    z-index: 1;
    height: 100vh;
    width: 30%;
    padding: 0px;
    margin: 0;
    background: rgba(242, 249, 250, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(242, 249, 250, 0.96);
}

.search-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.min{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 80px;
}

.search1, .search2 {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 20px;
}

button {
    border: none;
    outline: none;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
}

.search-icon1, .search-icon2 {
    width: 20px;
    border-radius: 50%;
}
.temperature {
    display: flex;
    align-items: center;
    margin: 10px;
}

.temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.temp img {
    margin-right: 10px; 
}
h3.city{
    font-size: 30px;
    margin: 10px;
}
.extras {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

h1.main-text {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: #94cfe4;
}

h1.temp {
    font-size: 40px;
    color: white;
}

.error {
    text-align: left;
    margin-left: 10px;
    display: none;
}
.forecast-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 40px;
}
@media only screen and (max-width: 800px) {
    .card {
    display: none;
} 
}
@media only screen and (min-width: 800px){
.min{
    display: none;
}
}

.forecast-item {
    display: flex;
   
    margin-bottom: 10px;
}

.forecast-item img {
    margin-right: 10px;
}

.icon {
    margin-right: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}
.details>p{
    margin: 0;
    padding: 0;
}

